//Colors

$blue: #3dd1e7;
$black: #000;
$dark-red: #ff4040;
$username: #cfc2b4;
$score: #d2bd9c;
$arrowBg: #f5f5f5ff;


// Adaptive
$desktop: 1050px;
$tablet: 991.98px;
$mobile: 767.98px;
$small: 320px;



//Mixins

$maxWidth: 1920;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: $tablet) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - #{$small}) / #{$maxWidth}));
    }
    @media (min-width: $tablet) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}